
body{
    background-color: blue;
}

#myForm{
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
    padding: 25px;
    align-items: center;
    background-color: aquamarine;
    border: 1px solid aquamarine;
    border-radius: 25px;
}

input, label{
    display: block;
    margin-bottom: 2%;
}

