body{

    font-family: Bahnschrift;
    background: url("res/6225108.png") repeat-x;
    animation: slide 60s linear infinite;
}

#open{
    font-weight: bold;
    background-color: goldenrod;
    border: none;
    border-radius: 7px;
    padding: 2%;
    font-size: 1.3em;
    cursor: pointer;
    filter: drop-shadow(-7px 7px  black);
}

#open:active{
    filter: drop-shadow(-5px 5px  black);
    transform: translate(-2px, 2px);
}


caption{
    font-size: 5em;

}

.sliding-background{
    display: block;
    height: 100vh;
    width: 100vw;

}

@keyframes slide {
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: -3000px 0px;
    }
}

th,td{
    padding-right: 40px;
    font-size: 2em;

}



button{
    margin: auto;
}

table{
    margin: auto;
    margin-bottom: 20%;
    margin-top: 10%;
}

.shadow{
    margin: auto;
    margin-top: 5%;
    display: block;
    max-width: 60%;

    padding: 1%;
    padding-left: 2%;
    border-radius: 7px;
    background-color: beige;
    filter: drop-shadow(-10px 10px 10px black);
}



